<!DOCTYPE html>
<html>
<head>
  <title>Re-Cognition</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="">

  <nav class="navbar navbar-toggleable navbar-inverse navbar-static-top" id='Navbar'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Re-Cognition</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" >
        <ul class="nav navbar-nav">
          <% if !current_user %>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% end %>
          <% if current_user %>
            <li> <a href="<%= dashboard_index_path %>">DashBoard</a> </li>
            <li> <a href="">Welcome <%= current_user.first_name %></a> </li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          <% end %>
        </ul>
    </div>
  </nav>
</div>

<div class="flashes">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <% value.each do |value| %>
        <%= value %><br>
      <% end %>
    </div>
  <% end if !flash.empty? %>
</div>
<%= yield %>

</body>
</html>
